
<p>Olá, {{ personName }}, tudo bem? Conforme prometido, fizemos o cálculo de quais são os seus gastos anuais, médios, mantendo um carro próprio e de quanto seria o mesmo gasto utilizando aplicativos de transporte individual como seu principal meio de locomoção pela cidade. Seguem os resultados:</p>

<p>Gasto anual com o carro: R$ {{ annualSpendWithTheCar }}</p>
<p>Gasto anual com o Uber: R$ {{ annualSpendWithUber }}</p>

<p>Custo de oportunidade?</p>
<p>Diferença de gasto?</p>
<p>Conclusão de qual vale mais a pena?</p>

<br>
<p>TamoJunto!</p>