<p>Olá, {{ driverName }}, tudo bem? Conforme prometido, fizemos o cálculo de quais são os seus gastos anuais, médios, mantendo um carro próprio e de quanto seria o mesmo gasto utilizando aplicativos de transporte individual como seu principal meio de locomoção pela cidade. Seguem os resultados:</p>

<p>Por ano, o seu carro lhe custa aproximadamente R$ {{ car_annualSpendTotal }}. Esse valor já inclui tanto os gastos diretos do automóvel (impostos, ipva, gasolina, etc) como também a depreciação média anual (aproximadamente R$ {{ car_annualDepreciation }}) e a quantia que você poderia estar ganhando caso tivesse aportado integralmente o valor do automóvel em algum investimento de baixo risco (aproximadamente R$ {{ car_annualOpportunityCost }}).</p>

<p> Considerando um cenário em que você tenha vendido o seu carro, investido integralmente o valor obtido e utilizado os rendimentos para abater seus gastos com transporte, um ano se locomovendo prioritariamente por meio do aplicativo Uber lhe custaria aproximadamente R$ {{ uber_annualCost}} por ano. Caso opte pelo aplicativo 99 Taxi o gasto seria de R$ {{ taxi99_annualCost }} e com Táxis tradicionais aproxidamente R$ {{ taxi_annualCost }}.</p> 

<p>Custo de oportunidade?</p>
<p>Diferença de gasto?</p>
<p>Conclusão de qual vale mais a pena?</p>

<br>
<p>TamoJunto!</p>
