<p> driverName: {{ driverName }} </p>
<p> carPrice: {{ carPrice}}</p>
<p> medianConsumption: {{medianConsumption }}</p>
<p> medianDistance: {{medianDistance }}</p>
<p> gasPrice: {{ gasPrice}}</p>
<p> taxesPrice: {{ taxesPrice}}</p>
<p> maintenancePrice: {{maintenancePrice }}</p>
<p> securePrice: {{ securePrice}}</p>
<p> penaltiesPrice: {{ penaltiesPrice}}</p>
<p> parkingPrice: {{ parkingPrice}}</p>
<p> email: {{ email}}</p>

<br>
<br>

<p> car_annualDepreciation: {{ car_annualDepreciation}}</p>
<p> car_annualSpendWithGasoline: {{ car_annualSpendWithGasoline}}</p>
<p> car_annualSpendWithParking: {{ car_annualSpendWithParking}}</p>
<p> car_annualCost: {{ car_annualCost}}</p>
<p> car_annualOpportunityCost: {{ car_annualOpportunityCost}} </p>
<p> car_annualSpendTotal: {{ car_annualSpendTotal}}</p>

<br>
<br>

<p> uber_baseFare: {{ uber_baseFare}} </p>
<p> uber_fixedCost: {{ uber_fixedCost}}</p>
<p> uber_costPerMinute: {{uber_costPerMinute }}</p>
<p> uber_costPerKM: {{uber_costPerKM }}</p>
<p> uber_distancePerRun: {{uber_distancePerRun }}</p>
<p> uber_timePerRun: {{ uber_timePerRun}}</p>
<p> uber_dailyCost: {{ uber_dailyCost}}</p>
<p> uber_monthlyCost: {{uber_monthlyCost }}</p>
<p> uber_annualCost: {{uber_annualCost }}</p>