<p> driverName: {{ driverName }} </p>
<p> carPrice: {{ carPrice}}</p>
<p> medianConsumption: {{medianConsumption }}</p>
<p> medianDistance: {{medianDistance }}</p>
<p> gasPrice: {{ gasPrice}}</p>
<p> taxesPrice: {{ taxesPrice}}</p>
<p> maintenancePrice: {{maintenancePrice }}</p>
<p> securePrice: {{ securePrice}}</p>
<p> penaltiesPrice: {{ penaltiesPrice}}</p>
<p> parkingPrice: {{ parkingPrice}}</p>
<p> email: {{ email}}</p>

<br>
<br>

<p> car_annualDepreciation: {{ car_annualDepreciation}}</p>
<p> car_annualSpendWithGasoline: {{ car_annualSpendWithGasoline}}</p>
<p> car_annualSpendWithParking: {{ car_annualSpendWithParking}}</p>
<p> car_annualCost: {{ car_annualCost}}</p>
<p> car_annualOpportunityCost: {{ car_annualOpportunityCost}} </p>
<p> car_annualSpendTotal: {{ car_annualSpendTotal}}</p>

<br>
<br>

<p> uber_baseFare: {{ uber_baseFare}} </p>
<p> uber_fixedCost: {{ uber_fixedCost}}</p>
<p> uber_costPerMinute: {{uber_costPerMinute }}</p>
<p> uber_costPerKM: {{uber_costPerKM }}</p>
<p> uber_distancePerRun: {{uber_distancePerRun }}</p>
<p> uber_timePerRun: {{ uber_timePerRun}}</p>
<p> uber_dailyCost: {{ uber_dailyCost}}</p>
<p> uber_monthlyCost: {{uber_monthlyCost }}</p>
<p> uber_annualCost: {{uber_annualCost }}</p>
<p> uber_totalCost: {{uber_totalCost }}</p>

<br>
<br>

<p> taxi_baseFare: {{ taxi_baseFare}} </p>
<p> taxi_fixedCost: {{ taxi_fixedCost}}</p>
<p> taxi_costPerMinute: {{taxi_costPerMinute }}</p>
<p> taxi_costPerKM: {{taxi_costPerKM }}</p>
<p> taxi_distancePerRun: {{taxi_distancePerRun }}</p>
<p> taxi_timePerRun: {{ taxi_timePerRun}}</p>
<p> taxi_dailyCost: {{ taxi_dailyCost}}</p>
<p> taxi_monthlyCost: {{taxi_monthlyCost }}</p>
<p> taxi_annualCost: {{taxi_annualCost }}</p>
<p> taxi_totalCost: {{taxi_totalCost }}</p>

<br>
<br>

<p> taxi99_baseFare: {{ taxi99_baseFare}} </p>
<p> taxi99_fixedCost: {{ taxi99_fixedCost}}</p>
<p> taxi99_costPerMinute: {{taxi99_costPerMinute }}</p>
<p> taxi99_costPerKM: {{taxi99_costPerKM }}</p>
<p> taxi99_distancePerRun: {{taxi99_distancePerRun }}</p>
<p> taxi99_timePerRun: {{ taxi99_timePerRun}}</p>
<p> taxi99_dailyCost: {{ taxi99_dailyCost}}</p>
<p> taxi99_monthlyCost: {{taxi99_monthlyCost }}</p>
<p> taxi99_annualCost: {{taxi99_annualCost }}</p>
<p> taxi99_totalCost: {{taxi99_totalCost }}</p>